################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/obj/Debug
/Grafo_1053/bin/Debug
/Grafo_1053/obj/Debug
/Grafo_Teste/obj/Debug
/Bee_1029/bin/Debug
/Bee_1029/obj/Debug
/Grafo_Teste/bin/Debug
/Lucro_1310/obj/Debug
/Lucro_1310/bin/Debug
/Motoboy_1286/obj/Debug
/paradgmas_teste/bin/Debug
/paradgmas_teste/obj/Debug
/Motoboy_1286/bin/Debug
/Fistival_de_estatuas_de_gelo_1034/obj/Debug
